<h1> All Chairs </h1>
<% @chairs.each_slice(2) do |two_chairs| %>
  <div class="row">
  <% two_chairs.each do |chair| %>
  
  <div class="col-md-6">
    <div class="well">

  <h1><a href="/chairs/<%= chair.id %>"><%= chair.name %></a></h1>
  <img class="chair-image" src="<%= Image.find_by(chair_id: chair.id).url %>">
  <h2><%= chair.price %></h2>
  <h2><%= chair.description %></h2>
  <!-- <a href= "/chairs/:id/edit"> Edit Chairs. </a> -->
    </div>
  </div>
  <% end %>
  
</div>
<% end %>

