<h1>Edit Chair Info</h1>
 <%= form_tag "/chairs/#{@chair.id}" , method: :patch do %>
  <div class= "form-group">
 Name: <input type="text" class="form-control" value="<%= @chair.name %>" name="form_name">
</div>
 <div>
 Image: <input type="text" class="form-control" value="<%= @chair.image %>" name="form_image">
 </div>
 <div>
 Price: <input type="text" class="form-control" value="<%= @chair.price %>" name="form_price">
 </div>
 <div>
 Description: <input type="type" class="form-control" value="<%= @chair.description %>" name="form_description">
 </div>
 <input type="submit" value="Update Chair"> 
  <% end %>
 