<h1>Chair Info</h1>
<h1><%= @chair.name %></h1>
<img class="chair-image" src="<%= Image.find_by(chair_id: @chair.id).url %>">
<h3>Price:<%= @chair.price %></h3>
<h3>Total With Sales Tax: <%= @chair.total %></h3>
<h3><%= @chair.sale_message %></h3>
<h3><%= @chair.description %></h3>
<%= form_tag "/chairs/#{@chair.id}", method: :delete do %>
 <input type="submit" value= "Destroy Chair">
<% end %>
 <div>
 <%= link_to "", "/chairs/#{@chair.id}", method: :delete %>
 <input type="submit" value="Back To All Chairs">
 </div>
 
<h3>Purchase!</h3>
<%= form_tag "/order?chair_id=#{@chair.id}", method: :post do %>
  <div>
   Quantity <input type="text" name="quantity">
  </div>
  <input type="submit" value="Buy">
<% end %>

