<h1>Order!</h1>
<p>Product: <%= @chair.name %></p>
<img src="<%= @chair.images[0].url %>">
<p>Email: <%= current_user.email %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Subtotal: <%= @order.subtotal %></p>
<p>Total: <%= @chair.total %></p>
<p>Purchased: <%= @order.created_at %></p>